body {
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: sans-Serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}

header img {
	width: 40%;
	
}
header{
	background-color: #b3daff;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffcc80;
	
}
nav li {
	float: left;
}

nav a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: white;
}

#parkBlock {
	display: flex;
	margin: 50px 50px 50px 50px;
	padding: 10px 10px 10px 10px;
	letter-spacing: 1px;
	border-style: groove;
}

#parkName {
	padding: 0px 10px 10px 10px;
}

#surveyResults {
	padding: 30px;
}
#surveyResults td{
	padding: 20px;
	
}

#resultTable, th, td {
	border: 1px solid black;
}

#parkDetailImg {
	display: flex;
	align-items: center;
	object-fit: contain;
}

#parkDetailImg img {
	width-max: 100%;
	height-max: 100%;
	margin-left: auto;
  	margin-right: auto;	
  	
}

#parkDescription > h1 {
	text-align: center;	
}

#quote {
	text-align: center;	
}

 #quote p {
 	margin-top: 0px;
 }
 
 #parkDescription {
 	text-align: center;
 }
 
 #parkDescription > h2 {
 	text-align: center;
 	margin-top: -5px;
 }
 
 #parkDescription td {
 	text-align: center;
 }
 
 #parkDescription p {
 	padding-top: 10px;
 	padding-left: 50px;
 	padding-right: 50px;
 	font-size: 16pt;
 }
 
 #descriptionTable {
 	margin-left: auto;
  	margin-right: auto;	
 }
 
 #weatherDetails {
 	display: inline-block;
 	max-width: 15%;
 	text-align: center;
	vertical-align: text-top;
 }
 
  #weatherDetails img {
 	width: 50%;
 	height: 50%; 
 }
 
 #weather{
 	background-color: #e6f7ff;
 }
 
 #weatherDetails:nth-child(1)  img{
 	width: 88%;
	height: 88%; 
 }
 
 #weatherDetails:nth-child(1) {
	padding-left: 50px;
 	padding-right: 99px;
 }
 
#weatherDetails:nth-child(1) p {
 	display: inline-block;
 	padding-right: 5px;
 }

 #tempConverter{
 	text-align: center;
 }
 
